  .history h2 {
    color: #51A3A3 ;
    font-weight: lighter;
  }

  .history {
    font-family: "Hahmlet", sans-serif;
  }
  
  .clear {
    color: #DFCC74   ;
    background-color: #011627 ;
    margin-bottom: 12px;
    padding: 4px;
    border-radius: 4px;
    font-size: 11px;
  }

  .clear:hover {
    color: white;
    background-color: #42545C;
  }